@import url("/dsign/colors.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#showNumberContainer {
    position: fixed;
    width: 100%;
    height: auto;
    backdrop-filter: blur(2px);
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aparecer .3s linear 1;
}

#linkContainer {
    height: auto;
    width: 90%;
    background-color: var(--priry);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(62, 78, 76, 0.233);
    animation: LtoB .2s none ease;
    max-width: 500px;
}

#linkContainer h1{
    font-family: sans-serif;
    font-size: 1.5em;
    margin-bottom: 10%;
    color: var(--onAll);
}

#linkContainer button{
    font-family: sans-serif;
    border: none;
    width: 30%;
    padding: 3%;
    margin: 5%;
    border-radius: 15px;
    border: 1px rgb(56, 225, 255) solid;
    background-color: var(--onPrimaryContainer);
    color: var(--onAll);
}

#linkContainer input{
    cursor: not-allowed;
    font-family: sans-serif;
    border: none;
    width: 60%;
    padding: 3%;
    margin: 5%;
    border-radius: 15px;
    border: 1px rgb(56, 225, 255) solid;
    background-color: var(--onPrimaryContainer);
    color: var(--onAll);
    color: rgba(161, 161, 161, 0.74);
}

#mainDiv {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aparecerCima .5s;
}

#inDiv {
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid rgb(183, 255, 141);
    font-family: sans-serif;
    max-width: 600px;
}

/* Animações */

@keyframes fadeIn {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }to {
        opacity: 0;
    }
}

@keyframes LtoB {
    0% {
        scale: 0;
    } 40% {
        scale: 1.1;
    } 100% {
        scale: 1;
    }
}

@keyframes BtoL {
    0% {
        scale: 1;
    } 40% {
        scale: 1.1;
    } 100% {
        scale: 0;
    }
}

@keyframes aparecerCima {
    from {
        opacity: 0;
        transform: translate(0, -100vw);
    } to {
        from {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

@keyframes sumirCima {
    from {
        opacity: 1;
        transform: translate(0, 0);
    } to {
        opacity: 0;
        transform: translate(0, -100vw);
    }
}
