@import url("/dsign/colors.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primaryContainer);
}

input {
    outline: none;
}

main {
    background-color: var(--primaryContainer);
    height: auto;
    height: 93vh
}


#info {
    background-color: var(--priry);
    color: var(--onAll);
    padding: 5%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 0 0 10px 10px;
}

.txtCampo {
    font-family: sans-serif;
    color: var(--onTertiaryContainer);
    display: block;
    margin: 10px 0;
    font-size: 1.3em;
}


#content {
    background-color: var(--primaryContainer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

#formContainer {
    width: 100%;
    background-color: var(--tertiaryContainer);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(62, 78, 76, 0.233);
}

#cnmr {
    width: 100%;
    background-color: var(--surfaceVariant);
    font-size: 1em;
    height: 3.5em;
    border-radius: 10px;
    border: 1px dashed var(--outline);
    text-align: center;
}

#cmsg {
    font-size: 1em;
    width: 100%;
    height: 4em;
    border-radius: 10px;
    padding-left: 3%;
    border: 1px dashed var(--outline);
    background-color: var(--surfaceVariant);
}

#clink {
    background-color: transparent;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#switch {
    border-radius: 10px 10px 0 0;
    background-color: var(--surface);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.switchbtn {
    display: inline;
    padding: 2px;
    width: 35%;
    height: 80%;
    border-radius: 50px;
    border: 1px solid var(--primaryContainer);
    background-color: var(--onPrimaryContainer);
    font-weight: bolder;
    color: var(--onAll);
}

.switchbtn:first-child {
    margin-right: 3%;
}

.gbtn {
    display: block;
    margin: 0 auto;
}

@media all and (orientation: landscape) {
    #switch {
        width: 40%;
    }

    #clink {
        width: 40%;
        height: 20%;
        margin-bottom: 14%;
    }

    #info {
        height: 15%;
        font-size: .8em;
        text-align: center;
    }
}

@media screen and (orientation: landscape) and (min-width: 1100px) and (min-height: 600px) {
    #info {
        height: 100vh;
        width: 50vw;
        border-radius: 0 50px 50px 0;
        font-size: 2em;
        display: flex;
        align-items: center;
    }

    #content {
        height: 100vh;
        width: 50vw;
    }

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #clink {
        width: 60%;
        height: 20%;
        margin-bottom: 14%;
    }
}